<div class="Logo">
  <a href="../../home.html">
    <img class="logo" src="assets/pictures/MyStore.png" alt="Logo" />
  </a>
</div>
<input class="searchbar" type="text" placeholder="Search your product here" />
<button class="person-btn" onclick="redirectToUser()">
  <i class="fa fa-user-circle-o fa-2x icon"></i>
</button>
<button class="cart-btn" onclick="redirectToCart()">
  <i class="fa fa-shopping-cart fa-2x icon"></i>
</button>
<button class="notif-btn" onclick="redirectToWishList()">
  <i class="fa fa-heart-o fa-2x icon"></i>
</button>